# dependencies
node_modules
package-lock.json

# build output
.next
.contentlayer
*.tsbuildinfo

# misc
.vscode
*.log
.DS_Store
draft

# env / deploy
.vercel
.env
.env.*

# >>> gx-env >>>
# Plaintext written by gx-env inject. Never commit these.
.env.local
# <<< gx-env <<<
